<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            <th scope="col">Ver</th>
            <th scope="col">Editar</th>
            <th scope="col">Borrar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let producto of listaProductos$ | async">
            <td>{{producto.id}}</td>
            <td>{{producto.nombre | uppercase}}</td>
            <td>${{producto.precio}}</td>
            <td>
                <button class="btn btn-outline-primary">
                    <fa-icon [icon]="viewIcon"></fa-icon>
                </button>
            </td>
            <td>
                <button class="btn btn-outline-warning"  routerLink="/editar/{{producto.id}}">
                    <fa-icon [icon]="editIcon"></fa-icon>
                </button>
            </td>
            <td>
                <button class="btn btn-outline-danger" (click)="borrar(producto.id)">
                    <fa-icon [icon]="removeIcon"></fa-icon>
                </button>
            </td>

        </tr>
    </tbody>